.Home{
    /* background-color: white; */
    display: flex;
    margin-top: 15px;
}
.RespHome{
    display: none;
}

@media(max-width:991px){
    .Home{
        display: none;
    }
    .RespHome{
        display: block;
    }
    .twitlogo{
        width: 14%;
        position: sticky;
        }
        .img{
            position: sticky;
            top: 0;
            z-index: 1;
            background: white;
            text-align: center;
        }
}