.ProfileOption{
    border-right: 1px solid #e6ecf0;
    margin-left: 26rem;
    width: 36rem;
}
.Profile{
    display: flex;
}

.ProfileHeader h2{
    
    word-wrap: break-word;
    font-weight: 700;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 24px;
    font-size: 20px;
    margin-left: 5rem;
}
.ProfileHeader p{
    color: rgb(83, 100, 113);
    line-height: 16px;
    
    font-size: 13px;
    font-weight: 400;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-left: 5rem;
}
.Arrow{
    position: relative;
    left: 1rem;
    top: -1.5rem;
    cursor: pointer;
}

.banner{
    width: 36rem;
    height: 12rem;
}
.ProfPic{
    position: relative;
    top: -5rem;
    left: 1rem;
}
.Editbtn{
    width: 7rem;
    height: 2.2rem;
    background: transparent;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: 1.5rem;
    border: 1px solid #c3c8cb;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
}
.UserImg{
    display: flex;
}
.ProfileContent{
margin-top: -4rem;
margin-left: 1rem;
}
.ProfileContent h2{
    word-wrap: break-word;
    font-weight: 700;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 24px;
    font-size: 22px;   
}
.ProfileContent p{
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 16px;
    font-size: 15px;
    font-weight: 400;   
}
.ProfileContent p:nth-child(2){
    color: rgb(83, 100, 113);
    margin-top: 5px;      
}
.Prof{
    display: flex;
}
 .ProfileContent .Prof p:nth-child(2){
    margin-right: 2rem;
}
.Prof p{
    color: rgb(83, 100, 113);
    margin-top: 5px;
}
.Following{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.Following span{
    color: black;
    font-weight: 700;
}
.Following p{
    color: rgb(83, 100, 113);
    margin-right: 1.5rem;
}
.ProfNav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 17px;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #e6ecf0;
}

.ProfNav ul li:hover{
    /* background-color: rgb(210, 212, 214); */
    cursor: pointer;
}
.RespProfile{
    display: none;
}

@media(max-width:991px){
    .Profile{
        display: none;
    }
    .RespProfile{
        display: block;
    }
    .ProfileOption {
        margin-left: 0rem;
        width: 100%;
        border: none;
    }
    .banner {
        width: 100%;
    }
    .ProfPic {
        width: 90px !important;
        height: 90px !important;
        top: -4rem;
        left: 0.5rem;
    }
    .ProfileContent{
        width: fit-content;
}
.ProfNav ul{
    width: auto;
}
.ProfPost{
    margin-top: -6rem;
    margin-bottom: 12rem;
}
.Editbtn{
    margin-left: auto;
    margin-right: 1rem;
}
.UserImg{
    display: flex;
}
.ProfileContent p{
    word-break: break-word;
    padding-right: 3rem;
}
}