.Post{
    display: flex;
    margin: 20px 20px;
}
.PostBody{
    margin-left:20px;
    width: -webkit-fill-available;
}
.PostBody img{
    margin-top: 15px;
    /* width: 100%; */
    width: 50%;
    border-radius: 20px;
}
.PostHeaderText h3{
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}

.PostHeaderText span{
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 20px;
    font-size: 15px;
    color:#536471;
    font-weight: 400;
}

.PostHeaderDescription{
        font-weight: 400;
        font-size: 15px;
        color: rgb(15, 20, 25);
        font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.PostFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: -93px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6ecf0;
}

.FooterIcon{
    color: #536471;
    cursor: pointer;
}
.like{
    margin-left: -5rem;
    color: #f91880;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}
.commentP{
    margin-left: -5rem;
    font-size: 12px;
    margin-top: 4px;
    cursor: pointer;
    font-weight: 900;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.PostHeaderText h3 a{
    text-decoration: none;
    color: black;
}


@media(max-width:991px){
    .Post {
        margin: 8px 20px;
        position: relative;
        top: 7rem;
    }
    .commentP {
        margin-left: -2rem;
        font-size: 11px;
        margin-top: 4px;
        margin-right: -2rem;
    }
    .FooterIcon {
        margin-left: 0.5rem;
    }
    .PostFooter{
        margin-top: 28px;
        justify-content: space-around;
    }
    .ProfPost1{
        margin-top: 1rem;
        margin-bottom: 12rem;
    }
    .PostBody img {
        width: 86%;
        border-radius: 8px;
}
}